@font-face {
  font-family:  'Dancing Script';
  src: url('../fonts/Dancing Script.ttf');
}
*{
  background-color: black;
  font-family: 'Dancing Script';
  box-sizing: border-box;
}
body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
.contenido{
	width:900px;
	background-color: #02010a;
	margin: auto;
}
.header{
	padding: 1px 5px;
	/*margin-bottom: 5px;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color:#5b7989;
	width: 100%;
}
.header h1{
	color: white;
	background-color:#5b7989;
	text-shadow: 2px 2px 2px #02010a;
}
.header h1 navbar {
	float:right;
	padding-top:12px;
	font-size: 16px;
	background-color:#5b7989;
}
.header h1 navbar a{
  color:white;
	background-color:#5b7989;
	text-decoration: underline;
}
.header h1 navbar a:link{
	background-color:#5b7989;
	text-decoration: underline;
}
.header h1 navbar a:hover{
	background-color:#5b7989;
	text-decoration: none;
}
.header:hover {
  animation: 1s bote 2;
}
.header {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 150%;
    width: 0%
  }

  to {
    margin-top: -5%;
    width: 60%;
  }
  to {
    margin-top: 0%;
    width: 100%;
  }
}
.body{
	width: 100%;
}
.img-principal {
	background-color:#82c3a6;
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.img-principal img{
	width: 80%;
	box-shadow: 2px 2px 2px #02010a;
}
.img-post, .img-post1, .img-post2{
	background-color:#d5c75f;
}
.img-post1 a, .img-post2 a{
    background-color:#d5c75f;
    color:black;
 }
.img-post {
	display: -webkit-flex; /* Safari */
    display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	text-align:center;
}
.img-post1, .img-post2{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.img-post1 img, .img-post2 img{
	border: 1px solid #d5c75f;
	box-shadow: 2px 2px 2px #02010a;
	width: 80%;
}
.img-post1 img:hover{
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px #82c3a6;
}
.img-post2 img:hover{
	-webkit-transform: translate(5px, -20px);
	-moz-transform: translate(5px, -20px);
	transform: translate(5px, -20px);
	box-shadow: 2px 2px 2px #82c3a6;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-13 {width: 25%;}
footer{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: -webkit-flex; /* Safari */
    display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
.pie-pagina{
	padding: 5px;
}
.pie-pagina, .pie-pagina h3, .pie-pagina p, .pie-pagina p strong, .pie-pagina a{
	background-color: #c6d5c5;
}
@media all and (max-width: 900px) {
    .contenido{
		width: 100%;
	}
	.header h1 navbar{
		padding-top:0;
		text-align:center;
		width: 100%;
	}
	[class*="col-"] {
        width: 100%;
    }
	.col-3{
		width: 80%;
	}
.col-13{
  width: 20%;
}
}
